server  {
	listen 127.0.0.1:3434

	location / {
		allowed_methods GET POST DELETE PUT
		root ./www/main
		cgi_extension .py /usr/bin/python3
		cgi_extension .php /usr/bin/php-cgi
		cgi_extension .sh /usr/bin/bash
		upload_path ./www/main/cgi-bin/uploads
	}

	location /toukoum {
		root ./www/
		index toukoum.html
		cgi_extension .py /usr/bin/python3
	}

	location /list {
		autoindex on
		root ./www
	}

	location /download {
		root ./www/
		cgi_extension .py /usr/bin/python3
	}

}