server {
    listen        0.0.0.0:8080;
    server_name localhost;

    root /var/www/html;
    allow_methods GET POST DELETE
    index index.html;

    error_page 404 /errors/404.html;
    error_page 500 /errors/500.html;

    location / {
        allow_methods GET POST;
    }

    location /uploads {
        allow_methods POST;
        upload_store /var/www/uploads;
    }

    location /cgi-bin/ {
        cgi_pass /usr/bin/python3;
        cgi_ext .py;
    }
}
